---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Astro">
  <h1>Astro</h1>
  <ul>
    <li>
      <a href="/register">Register</a>
    </li>
    <li>
      <a href="/signin">Sign in</a>
    </li>
  </ul>
</Layout>
